# Ignore build results
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore VS Code settings
.vscode/

# Ignore Visual Studio folder
.vs/

# Ignore logs
*.log
